body {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #1F2937;
    margin: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 18px;
}

p {
    margin: 0px;
    padding: 0px;
}

/*
    ====================
    Themes 
*/

/* Dark */
.theme-dark {
    background-color: #1F2937;
    color: #E5E7EB;
}

.theme-dark-text-alt {
    color: #F9FAF8;
}

/* Gray */
.theme-gray {
    background-color: #E5E7EB;
    color: #1F2937;
}

/* Gray Dark */
.theme-gray-dark {
    background-color: #7e7e7e;
    color: white;
}

/*
    ====================
    Misc
*/

.bold { font-weight: 900; }
.italic { font-style: italic;} 

/* Font Sizes */
.twenty-four { font-size: 24px; }
.thirty-six { font-size: 36px; }
.fourty-eight { font-size: 48px; }

/* Action Blue (buttons, banners, etc.) */
.action-blue {
    background-color: #3882F6;
    color: white;
}

.blue-border { border: 2px solid #3882F6; }
.white-border { border: 2px solid white; }

/* Rounded Edges */
.round-edge { border-radius: 10px; }

/* Links */
.pro-link {
    color: inherit;
    text-decoration: inherit;
    padding: 12px;
}

/*
    ====================
    Flex and spacing
*/
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-logo {
    flex-grow: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.section {
    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 18px;
}

#start {
    padding-top: 100px;
    padding-bottom: 90px;
}

#gallery {
    padding-top: 50px;
    padding-bottom: 90px;
}

#thor-quote {
    padding-top: 90;
    padding-bottom: 90px;
}

#action-call {
    padding-top: 50px;
    padding-bottom: 50px;
}