body {
    font-family: "Roboto", Helvetica, sans-serif;
    color: #1F2937;
    margin: 0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 18px;
}

p {
    margin: 0px;
    padding: 0px;
}

button {
    padding: 4px 20px 4px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    height: 40px;
    min-width: 140px;
    font-weight: 800;
}

input, button, select, option, textarea {
    font-size: 100%;
}

/*
    ====================
    Themes 
*/

/* Dark */
.theme-dark {
    background-color: #1F2937;
    color: #E5E7EB;
}

.theme-dark-text-alt {
    color: #F9FAF8;
}

/* Gray */
.theme-gray {
    background-color: #E5E7EB;
    color: #1F2937;
}

/* Gray Dark */
.theme-gray-dark {
    background-color: #7e7e7e;
    color: white;
}

/*
    ====================
    Misc
*/

.bold { font-weight: 900; }
.italic { font-style: italic;} 

/* Font Sizes */
.twenty-four { font-size: 24px; }
.thirty-six { font-size: 36px; }
.fourty-eight { font-size: 48px; }

/* Action Blue (buttons, banners, etc.) */
.action-blue {
    background-color: #3882F6;
    color: white;
}

.blue-border { border: 3px solid #3882F6; }
.white-border { border: 2px solid white; }

/* Rounded Edges */
.round-edge { border-radius: 10px; }

/* Links */
.pro-link {
    color: inherit;
    text-decoration: inherit;
    padding: 12px;
}

/*
    ====================
    Flex
*/
.header {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-logo {
    display: flex;
    flex-grow: 1;
}

.header-links {
    display: flex;
    flex-flow: row wrap;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.flex-space-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-unit-one {
    flex: 1;
}

.flex-gap-one {
    gap: 35px;
}

.flex-gap-two {
    gap: 30px;
}

/*
    ====================
    Flex and spacing
*/

.section {
    padding-left: 20%;
    padding-right: 20%;
}

.section-thin {
    padding-left: 25%;
    padding-right: 25%;
}

.image-thumbnail {
    width: 160px;
    min-height: 160px;
}

.image-text {
    width: 160px;
    text-align: center;
    margin-top: 8px;
}

.footer {
    min-height: 90px;
}

/*
    ====================
    Unique spacing
*/

#start {
    padding-top: 140px;
    padding-bottom: 120px;
}

#gallery {
    padding-top: 50px;
    padding-bottom: 90px;
}

#thor-quote {
    padding-top: 90;
    padding-bottom: 90px;
}

#action-call {
    padding-top: 50px;
    padding-bottom: 50px;
}